.carousel {
  &__item {
    width: 100%;
    direction: ltr;

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }

  &__slide {
    padding: space(2) 0 space(8) space(4);
  }
}
