$ff-primary: peyda;
$font-url: "@/assets/fonts";

// $font-faces: (
//   $ff-primary: (
//     regular: (
//       font-style: normal,
//       font-weight: 400,
//       src: url("#{$font-url}/dana/dana-fanum-regular.woff") format("woff"),
//     ),
//     medium: (
//       font-style: normal,
//       font-weight: 500,
//       src: url("#{$font-url}/dana/dana-fanum-medium.woff") format("woff2"),
//     ),
//     semiBold: (
//       font-style: normal,
//       font-weight: 600,
//       src: url("#{$font-url}/dana/dana-fanum-demibold.woff2") format("woff2"),
//     ),
//     bold: (
//       font-style: normal,
//       font-weight: 700,
//       src: url("#{$font-url}/dana/dana-fanum-bold.woff2") format("woff2"),
//     ),
//   ),
// );

$font-faces: (
  $ff-primary: (
    regular: (
      font-style: normal,
      font-weight: 400,
      src: url("#{$font-url}/peyda/woff/PeydaWeb-Regular.woff") format("woff"),
    ),
    medium: (
      font-style: normal,
      font-weight: 500,
      src: url("#{$font-url}/peyda/woff/PeydaWeb-Medium.woff") format("woff"),
    ),
    semiBold: (
      font-style: normal,
      font-weight: 600,
      src: url("#{$font-url}/peyda/woff/PeydaWeb-Bold.woff") format("woff"),
    ),
    bold: (
      font-style: normal,
      font-weight: 700,
      src: url("#{$font-url}/peyda/woff/PeydaWeb-ExtraBold.woff") format("woff"),
    ),
  ),
);
